body, html { 
  overflow: hidden; 
  margin: 0;
}

 body{
  background-image: url('assets/hero-image.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}


.photo-link {
  position: absolute;
  color: black;
}

.photo-link:hover {
  color: pink;
}

@media only screen and (max-width: 338px) {

}