body, html { 
  overflow: hidden; 
  margin: 0;
}

.photo-link {
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  background-image: url('assets/hero-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
}
p {
  align-self: center;
  margin: 1rem;
  font-size: 3.7vw;
  font-family: 'Poppins', sans-serif;
}
.photo{
  font-size: 10vw;
  color: white;
}
a:hover {
  color: pink;
}

.left {
  height: 75vh;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100vw;
}

@media only screen and (max-width: 338px) {

}